:root {
  --primary-color:rgb(12, 194, 240);
  --background-color: #232830;
  --secondary-color: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html {
    font-size: 62.5%;
}
body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
